[project]
src = "src"
out = "out"
dot_env = ".env"
name = "moccasin_project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "snekmate",
]

[networks.contracts.mood_nft]
deployer_script = "script/deploy_mood_nft.py"
abi = "basic_nft.vy"

[networks.contracts.basic_nft]
deployer_script = "script/deploy_basic_nft.py"
abi = "mood_nft.vy"

[networks.anvil]
url = "http://127.0.0.1:8545"
prompt_live = false
default_account_name = "anvil1"
unsafe_password_file = "$ANVIL1_PASSWORD_FILE"


# You can view all configuration options at https://cyfrin.github.io/moccasin/all_moccasin_toml_parameters.html
